:root {
  --dark-color: rgb(10 18 42);
  --light-color: rgb(251 250 248);
  --cherry-color: rgb(152 38 73);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark-color);
}

body {
  display: flex;
  background-color: var(--light-color);
}

header {
  background-color: var(--cherry-color);
  border-right: 10px solid var(--cherry-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  width: calc(30px + 1ch);
  /* width for nav bar = padding (20px total) + border (10px) + one character */
  height: 100vh;
  overflow: hidden;
}

h1 {
  text-wrap: nowrap;
  font-size: 2rem;
  color: var(--light-color);
  display: none;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 100vh;
  width: 100%;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--light-color);
  font-size: 2rem;
}

/* -- MEDIA QUERIES - for nav bar -- */

@media screen and (min-width: 1024px) {
  header {
    justify-content: space-between;
    min-width: calc(30px + 1ch); /* not expanded nav width */
    width: 0%; /* animation only work when both widths have the same value */
    transition: width 1s;
  }

  header:hover {
    width: 60%; /* expanded nav width */
  }

  h1 {
    display: flex;
    flex-direction: column;
  }

  h1::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: var(--light-color);
    transition: width 0.5s;
  }

  header:hover h1::after {
    width: 100%;
  }
}
