* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}

section {
  scroll-snap-align: start;
  height: 100vh;
}
